# Runtime lock for Python 3.12 on Windows (x64).
# Regenerate deliberately when requirements.in changes.
bottle==0.13.4
bottle-websocket==0.2.9
cffi==2.1.0
comtypes==1.4.16
Eel==0.18.2
future==1.0.0
gevent==26.5.0
gevent-websocket==0.10.1
greenlet==3.5.3
importlib-resources==7.1.0
olefile==0.47
psutil==7.2.2
pycparser==3.0
pyparsing==3.3.2
pypdf==6.14.2
pywin32==312
pywinauto==0.6.9
six==1.17.0
typing-extensions==4.16.0
zope.event==6.2
zope.interface==8.5
